@import '../../node_modules/normalize.css/normalize';


body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header {
    background: #99D6B9;
}
.phone {
    a {
        svg:hover {
            fill: #6325ff;;
        }
    }
}
.top-header {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 110px;
    align-items: center;
    color: #fff;

}
.swiper-pagination {
    top: 530px;
}

.sliders {
    background: linear-gradient(180deg, #99D6B9 0%, rgba(161, 249, 243, 0.58) 100%);
}
.first-slide {
    display: flex;
    background-image: url(../img/greenhouses.png);
    background-position: 700px 113px;
    background-repeat: no-repeat;
    background-size: 700px;
}
.slide_left-part {
    margin-left: 200px;
}
.first-slide h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    line-height: 65px;
    font-style: normal;
    font-weight: normal;
}
.projects-bullet {
    width: 80px;
    height: 10px;
    border: 3px solid #C0FED8;
    border-radius: 15px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 44px;
    cursor: pointer;
    outline: none;
}
.projects-bullet-active {
    background: #C0FED8;
}

.button-prev {
    background-image: url(../img/next.svg);
    position: absolute;
    top: 30%;
    width: 50px;
    height: 50px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 20px; 
    outline: none;

    &:active {
        background-color: #aea2a2;
        border-radius: 50%;
    }
}
.button-next {
    background-image: url(../img/next.svg);
    transform: rotate(180deg);
    position: absolute;
    top: 30%;
    width: 50px;
    height: 50px;
    z-index: 10;
    right: 10px;
    left: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    &:active {
        background-color: #aea2a2;
        border-radius: 50%;
    }
}
.delivery {
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
    margin-left: 500px;
}
.delivery-car {
    margin-bottom: 50px;
}
.work-time {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 34px;
    line-height: 41px;
}
.clock {
    margin-left: 15px;
}
.delivery p {
    margin: 0;
    font-size: 24px;
    color: #424651;
}
.slide {
    display: none;
}
.active {
    display: flex;
}
.third-slider {
    height: 547px;
    background-image: url(../img/3slide.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.second-slider, .third-slider  {
    .header-title{
        text-shadow: 5px 5px 2px black, 0 0 2px #f20000;
        padding-top: 100px;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 55px;
        line-height: 85px;
        text-align: center;
        color: #FFFFFF;
        margin: auto;
    }
}
.second-slider {
    text-align: center;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 547px;

    ymaps {
        margin: auto;
    }
    .header-title {
        padding: 0;
        text-shadow: none;
    }
}


.header-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 750px;

    p {
        font-size: 20px;
        line-height: 23px;
        margin: 0;
        margin-bottom: 9px;
    }
    hr {
        transform: rotate(90deg);
        width: 80px;
        height: 2px;
        background: #fff;
    }
}
.phone {
    display: flex;
    align-items: center;
    margin-right: 56px;

    svg {
        margin-right: 26px;
    }

    p {
        margin: 0;
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 19px;
    }
}
.phone a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

    &:hover {
        color: #6325ff;
    }
}


.time {
    display: flex;
    align-items: center;
    margin-right: 64px;

    p {
        margin-left: 26px;
        font-size: 20px;
        line-height: 23px;
    }
}
.logo {
    max-width: 350px;
    max-height: 75px;
    &:hover {
        fill: #068747;
    }
}
.right-side {
    display: flex;
    justify-content: space-between;
}
.car {
    padding: 9px 24px;
    align-items: center;
    align-self: center;
    color: #fff;
    &:hover {
        cursor: pointer;
        fill: #F6F4AD;
    }
}
.main {
    position: relative;
    margin-top: 60px;

    .car-main {
        background: #F9E9B2;
        position: absolute;
        bottom: 80px;
        right: 0;
        padding: 5px 15px;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
            fill: #000;
        }
    }
}
.first-section {
    position: relative;
    .title {
        font-size: 45px;
        line-height: 53px;
        color: #939393;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 50px;
    }
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;

}

.card-container {   
    border: 1px solid #62A52E;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 80px;
    flex-basis: 21%;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 49px;

    small {
        display: inline-block;
        font-size: 20px;
        line-height: 23px;
        color: #48BB6A;
        margin-bottom: 10px;
    }
}
.card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #575757;
}
.card-text {
    margin: auto;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #939393;
    max-width: 230px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.number-card {
    background: url(../img/picture.png) top center no-repeat;
    display: inline-block;
    width: 241px;
    height: 221px;
    position: relative;
}
.number-card input {
    width: 99px;
    height: 35px;
    background: #F6F4AD;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #000;
    position: absolute;
    top: 168px;
    left: 142px;

    p {
        margin: 8px;
    }
}
.calc {
    width: 100px;
    height: 35px;
    border: 0.6px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 10px;
}
.bottom-input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-input img {
    margin: 4px 2px;   
}
.bottom-input button {
    background: linear-gradient(180deg, #F5E9BF -24%, #E8CE78 151%);
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    outline: none;

    &:active {
        background: #e8c887;
    }
}
.main-button-car {
    background: linear-gradient(180deg, #21FA90 -40%, rgba(109, 226, 139, 0.44) 49.87%, #48BB6A 163%, #21FA90 163%);
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 75%;
    height: 50px;
    margin-top: 15px;
    outline: none;
    cursor: pointer;

    &:active {
        background: lighten($color: #48BB6A, $amount: 10%);
    }

}
.second-section {
    text-align: center;
    position: relative;
    .hr-1 {
        height: 4px;
        border: none;
        background-color: #B2F2C5;
        position: absolute;
        width: 100%;
        right: 0;
        top: 85px;
        z-index: 1;
    }
}
.center-title {
    margin: 0;
    position: relative;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    display: inline-block;
    padding: 54px 130px;
    background: #E9F9F6;
    border: 4px solid #B2F2C5;
    box-sizing: border-box;
    border-radius: 50px;
    z-index: 3;
    margin-bottom: 128px;

    span {
        color:  #CF5048;
    }
}
.production-stages {
    margin-top: 128px;
    max-width: 1520px;
    margin: auto;
    background-image: url(../img/delivery-block.png);
    background-size: 1447px 1346px;
    min-height: 1346px;
    background-repeat: no-repeat;
    background-position-x: center;

    p{margin: auto;
        font-size: 30px;
        line-height: 36px;
        color: #9498BC;
        max-width: 280px;
    }
    .first-text {
        position: absolute;
        top: 600px;
        left: 100px;
        max-width: 423px;
    }
    .second-text {
        max-width: 270px;
        position: absolute;
        top: 600px;
        left: 60%;
        text-align: left;
        
    }
    .third-text {
        position: absolute;
        top: 880px;
        max-width: 288px;
        right: 500px;
        text-align: left;
    }
    .fourth-text {
        max-width: 196px;
        position: absolute;
        top: 1200px;
        right: 500px;
    }
    .fifth-text {
        max-width: 196px;
        position: absolute;
        top: 1200px;
        left: 220px;
    }
    img {
        display: none;
    }
}
.exchange-title {
    box-shadow: 0px 7px 15px rgba(0,0,0,0.33);
    max-width: 60%;
    background: #C6E4F1;
    border-radius: 0px 30px 30px 0px;
    font-size: 55px;
    line-height: 64px;
    color:#424651;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 45px 15px 0;

    svg {
        margin-right: 15px;
    }
}
.main-exchange {
    display: flex;
    max-width: 60%;
    margin-left: 125px;
    img {
        max-width: 480px;
        
    }
}
.right-exchange {
    margin-left: 60px;

    p {
        max-width: 500px;
    }

    textarea {
        outline: none;
        border: 6px solid #CCE3F3;
        width: 493px;
        height: 200px;
        margin-top: -15px;
        position: relative;
        padding-top: 10px;
    }
}
.dignity {
    display: flex;
    flex-direction: column;

    .dignity-swiper {
        display: none;
    }

    .wrapper {
        width: 90%;
        margin: auto;
    }

    hr {
        width: 500px;
        margin-bottom: 25px;
        margin-top: 60px;
        border: 1px solid;
    }

    span {
        display: block;
        text-align: center;
        font-size: 45px;
        line-height: 53px;
    }
}
.dignity-title {
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.33);
    border-radius: 25px 0px 0px 25px;
    width: 60%;
    font-size: 55px;
    line-height: 64px;
    color:#000;
    font-weight: normal;
    padding: 15px 0 15px 45px;
    align-self: flex-end;
    background-color: #D8E0FD;
    color: #424651;
    display: flex;

    svg {
        margin-left: 35px;
    }
}
.dignity-main {
    display: flex;
    justify-content: space-around;
}
.deal-title {
    box-shadow: 0px 7px 15px rgba(0,0,0,0.33);
    max-width: 60%;
    background-color: #C6E4F1;
    border-radius: 0px 30px 30px 0px;
    font-size: 55px;
    line-height: 64px;
    color:#424651;
    font-weight: normal;
    padding: 15px 45px 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
        margin-right: 15px;
    }
}
.main-deal {
    display: flex;
    margin-left: 125px;

    p {
        font-size: 30px;
        line-height: 53px;
    }
}
.deal-all {
    display: flex;

    .deal-contacts {
        flex-basis: 50%;

        h4 {
            font-size: 30px;
            line-height: 41px;
            font-weight: normal;
        }

        span {
            display: block;
            font-size: 20px;
        }

        .link {
            display: flex;
            justify-content: space-between;

            img {
                width: 40px;
            }
        }
    }
}

.footer {
    margin-top: 200px;
    background-color: #99D6B9;

    .container {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        width: 40px;
        margin-bottom: 15px;
        margin-left: 15px;
    }
}
.footer-right {
    text-align: end;

    .footer-tel {
        padding-bottom: 8px;
    }
}
.footer-left {
    max-width: 200px;
    margin-left: 15px;
    background: url(../img/place.png) no-repeat 0 10px;
    background-size: 20px;

    p {
        margin-left: 20px;
        font-size: 20px;
        line-height: 23px;
        font-weight: 100;
    }
}

.popup {
    .overlay {
        background-color: rgba(0, 0, 0, .7);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1020;
    }

    .form-wrapper {
        margin: 0 auto;
        position: fixed;
        left: 0;
        top: 20vh;
        right: 0;
        z-index: 1200;
        height: 355px;
        background: #E1F0F1;
        border-radius: 40px;
        width: 700px;
    }

    .close-rotate {
        transform: rotate(45deg);
        cursor: pointer;
    }
}
form {
    padding: 20px;

    input {
        outline: none;
    }

    .after-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }

    h4 {
        font-size: 28px;
        line-height: 33px;
        font-weight: normal;
        margin: 0;
    }
}
.close-form {
    display: block;
    text-align: end;
}
#calc-price {
    border: 3px solid #000000;
    border-radius: 20px;
    height: 40px;
}
.btn-send {
    border: 3px solid #000000;
    border-radius: 20px;
    padding: 20px 70px;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
}



@media (max-width: 1700px) {

    .production-stages {
        .first-text {
            left: 15px;
        }
        .second-text {
            left: 63%;
        }
        .third-text {
            right: 440px;
        }
        .fourth-text {
            right: 400px;
        }
        .fifth-text {
            left: 150px;
        }
    }
    .cards {
        max-width: 88%;
    }
    
}

@media (max-width: 1545px) {
    .slide_left-part {
        margin-left: 8%;
    }
}
@media (max-width: 1460px) {
    .first-slide {
        background-position: 600px 113px;
    }
    .first-slide h2 {
        font-size: 35px;
    }
    .cards {
        max-width: 86%;
    }
    .center-title {
        font-size: 50px;
    }
    .production-stages {
        background-size: 90%;
        .first-text {
            left: 15px;
        }
        .second-text {
            left: 63%;
        }
        .third-text {
            right: 440px;
        }
        .fourth-text {
            right: 320px;
            top:1100px;
        }
        .fifth-text {
            left: 100px;
            top: 1100px;
        }
    }
}
@media (max-width: 1385px) {
    .header-left p {
        font-size: 17px;
    }
    .phone p {
        line-height: 14px;
    }
    .time {
        margin-right: 25px;
    }
    .delivery p {
        font-size: 25px;
    }
    .first-slide h2 {
        font-size: 30px;
    }
    .first-slide {
        background-position: 450px 113px;
    }
    .card-title {
        font-size: 17px;
    }
    .card-text {
        font-size: 10px;
    }
}
@media (max-width: 1300px) {
    .card-container {
        flex-basis: 26%;
    }
    .production-stages {
        background-size: 90%;

        p {
            font-size: 28px;
        }
        .first-text {
            left: 15px;
        }
        .second-text {
            left: 63%;
        }
        .third-text {
            right: 340px;
            top: 765px;
        }
        .fourth-text {
            right: 280px;
            top:1000px;
        }
        .fifth-text {
            left: 100px;
            top: 1000px;
        }
    }
    .dignity-title {
        background-position: 70% center;
    }
}
@media (max-width: 1200px) {
    .logo {
        max-width: 250px;
        max-height: 60px;
    }
    .header-left {
        hr {
            margin: 0;
        }
        p {
            font-size: 13px;
            line-height: normal;
        }
    }
    .first-slide {
        h2 {
            font-size: 25px;
            line-height: 45px;
        }
        background-position: 350px 113px;
    }
    .delivery p {
        font-size: 23px;
    }
    .phone p {
        line-height: 13px;
        font-size: 15px;
    }
    .card-container {
        flex-basis: 30%;
    }
    .center-title {
        font-size: 40px;
        line-height: 25px;
        margin-bottom: 80px;
    }
    .second-section .hr-1 {
        top: 60px;
    }
    .production-stages {
        background-size: 90%;
        min-height: 1110px;
        .first-text {
            top: 460px;
            left: 0;
            font-size: 27px;
        }
        .second-text {
            left: 62%;
            top: 460px;
            max-width: 240px;
        }
        .third-text {
            right: 320px;
            top: 660px;
        }
        .fourth-text {
            right: 210px;
            top: 900px;
            max-width: 250px;
        }
        .fifth-text {
            left: 80px;
            top: 900px;
        }

    }
    .second-text {
        left: 62%;
    }
    .exchange-title { 
        font-size: 40px;
    }
    .main-exchange {
        max-width: 100%;
        margin-left: 90px;

        img {
            max-width: 380px;
        }
    }
    .dignity-title {
        font-size: 40px;
    }
    .dignity-main {
        flex-wrap: wrap;
        
        img {
            margin-bottom: 40px;
        }
    }
    .deal-title {
        font-size: 40px;
    }
    .main-deal img {
        max-width: 380px;
    }
    .main-deal p {
        line-height: 40px;
    }
    .footer img {
        width: 30px;
    }
}
@media (max-width: 995px) {
    .header-left hr {
        display: none;
    }
    .header-left p {
        display: none;
    }
    .slide_left-part {
        margin-left: 6%;
    }
    .delivery {
        margin-left: 300px;
    }
    .work-time {
        font-size: 30px;
    }
    .third-slider, .second-slider {
        max-height: 463px;
    }
    .first-slide {
        background-position: 280px 80px;
        background-size: 600px;
    }
    .main .car-main {
        width: 32px;
    }
    .center-title {
        font-size: 35px;
        line-height: 18px;
    }
    .production-stages {
        background-size: 90%;
        min-height: 950px;
        .first-text {
            top: 410px;
            max-width: 310px;
            font-size: 20px;
        }
        .second-text {
            font-size: 20px;
            top: 410px;
            max-width: 200px;
        }
        .third-text {
            right: 240px;
            top: 560px;
            font-size: 20px;
            max-width: 215px;
        }
        .fourth-text {
            right: 210px;
            top: 770px;
            max-width: 180px;
            font-size: 20px;
        }
        .fifth-text {
            left: 50px;
            top: 780px;
            font-size: 20px;
        }
    }
    .main-exchange {
        margin-left: 40px;
    }
    .right-exchange p {
        max-width: 400px;
    }
    .main-deal {
        margin-left: 40px;
    }
    .main-deal p {
        line-height: 35px;
        font-size: 27px;
        margin: 0;
    }
    .deal-all .deal-contacts h4 {
        font-size: 22px;
    }
    .footer {
        margin-top: 70px;
    }
    .footer-left p {
        font-size: 18px;
    }
    .footer-left {
        margin-left: 0; 
    }

}
@media (max-width: 770px) {
    .header {
        .button-next, .button-prev {
            display: none;
        }
    }
    .logo {
        max-width: 230px;
    }
    .time {
        margin-right: 20px;
        svg {
            width: 30px;
        }
        p {
            margin-left: 15px;
            font-size: 18px;
            line-height: 20px;
        }
    }
    .phone {
        margin-right: 0px;

        svg {
            margin-right: 20px;
            width: 35px;
        }

        a {
            font-size: 20px;
            line-height: 24px;
        }
    }
    .delivery {
        margin-left: 125px;
    }
    .first-slide {
        background-position: 260px 80px;
        background-size: 500px;
    }
    .second-slider .header-title, .third-slider .header-title {
        font-size: 45px;
    }
    .projects-bullet {
        margin-top: 30px;
    }
    .card-container {
        flex-basis: 45%;
    }
    .main .car-main {
        padding: 2px 10px;
    }
    .center-title {
        font-size: 28px;
        line-height: 0px;
    }
    .second-section .hr-1 {
        top: 46px;
    }
    .production-stages {
        background-size: 90%;
        min-height: 750px;
        .first-text {
            top: 360px;
            max-width: 250px;
            font-size: 18px;
            line-height: 30px;
        }
        .second-text {
            font-size: 18px;
            top: 300px;
            max-width: 130px;
            line-height: 30px;
        }
        .third-text {
            right: 184px;
            top: 460px;
            font-size: 18px;
            max-width: 180px;
            line-height: 30px;
        }
        .fourth-text {
            right: 128px;
            top: 625px;
            max-width: 162px;
            font-size: 18px;
            line-height: 30px;
        }
        .fifth-text {
            left: 30px;
            top: 620px;
            font-size: 18px;
            max-width: 160px;
            line-height: 30px;
        }
    }
    .exchange-title {
        font-size: 25px;
        padding: 10px 45px 10px 0;
        svg {
            width: 50px;
        }
    }
    .main-exchange img {
        max-width: 320px;
    }
    .right-exchange {
        margin-left: 30px;

        p {
            max-width: 290px;
        }
    }
    .dignity-title {
        font-size: 25px;
        padding: 10px 0 10px 45px;
        svg {
            width: 50px;
        }
    }
    .dignity {
        .dignity-main {
            display: none;
        }
        .dignity-swiper {
            display: block;

            img {
                display: flex;
                margin: auto;
            }

            .button-next, .button-prev {
                top: 45%;
            }
        }
        .swiper-pagination {
            display: flex;
            justify-content: center;
        }

        hr {
            margin-top: 40px;      
        }
    }
    .deal-title {
        font-size: 25px;
        padding: 10px 45px 10px 0;
        svg {
            width: 50px;
        }
    }
    .main-deal {
        img {
            max-width: 320px;
            max-height: 295px;
        }

        p {
            line-height: 25px;
            font-size: 20px;
            margin: 0;
        }
        .deal-all {
            text-align: center;
            .deal-contacts {
                flex-basis: 100%;

                .link {
                    justify-content: space-around;
                }
            }
            h4 {
                font-size: 30px;
            }
            span {
                margin-top: 10px;
                font-size: 22px;
            }
        }
    }
    .footer-left p {
        font-size: 16px;
    }
}
@media (max-width: 576px) {
    .time {
        display: none;
    }
    .phone {
        .right {
            display: none;
        }
        a {
            font-size: 20px;
            line-height: 0;
        }
        
    }
    .first-slide {
        background-position: 130px 80px;
        background-size: 450px;

        h2 {
            font-size: 20px;
            line-height: 43px;
        }
    }
    .work-time {
        padding-top: 180px;
    }
    .delivery {
        margin-left: 25px;
    }
    .delivery-car {
        display: none;
    }
    .second-slider {
        ymaps {
            max-width: 500px;
            max-height: 280px;
        }
    }
    .cards {
        max-width: 95%;
    }
    .card-container {
        flex-basis: 48%;
    }
    .main {
        .car-main {
            padding: 5px 80px;
            bottom: 20px;
            right: 190px;
        }
    }
    .second-section .hr-1 {
        top: 40px;
    }
    .center-title {
        font-size: 16px;
        padding: 45px;
        margin-bottom: 40px;
    }
    .production-stages {
        background-image: none;
        min-height: 750px;
        display: flex;
        flex-wrap: wrap;
        img {
            display: block;
            max-width: 230px;
            margin: auto;
        }
        p{
            margin: 0;
        }
        .first-text {
            position: inherit;
            text-align: center;
            font-size: 16px;
            margin-bottom: 25px;
            max-width: 100%;
            flex-basis: 50%;

        }
        .second-text {
            position: inherit;
            text-align: center;
            font-size: 16px;
            margin-bottom: 25px;
            max-width: 100%;
            flex-basis: 50%;

        }
        .third-text {
            position: inherit;
            text-align: center;
            font-size: 16px;
            margin-bottom: 25px;
            max-width: 100%;
            flex-basis: 50%;

        }
        .fourth-text {
            position: inherit;
            text-align: center;
            font-size: 16px;
            margin-bottom: 25px;
            max-width: 100%;
            flex-basis: 50%;

        }
        .fifth-text {
            position: inherit;
            text-align: center;
            font-size: 16px;
            margin-bottom: 25px;
            max-width: 100%;
            flex-basis: 100%;

        }
    }
    .exchange-title {
        font-size: 20px;
    }
    .main-exchange {
        flex-direction: column;
        align-items: center;
        img {
            max-width: 220px;
            margin-top: 15px;
        }
    }
    .right-exchange {
        margin: 0;
        p {
            max-width: 90%;
            margin: auto;
            margin-top: 20px;
        }
    } 
    .dignity-title {
        font-size: 20px;
    }
    .button-prev {
        left: 0;
    }
    .button-next {
        right: 0;
    }
    .dignity {
        hr {
            width: 80%;
        }
    } 
    .dignity span {
        font-size: 40px;
        line-height: 45px;
    }
    .main-deal {
        flex-direction: column;
        align-items: center;
        img {
            max-width: 220px;
            max-height: 195px;
        }
    } 
    .deal-all {
        flex-wrap: wrap;

        .deal-contacts {
            flex-basis: 57%;
        }
    }
    .footer-right, .footer-center {
        display: none;
    }
}
@media (max-width: 414px) {
    .car {
        padding: 0;
    }
    .first-slide {
        background-position: 70px 110px;
        background-size: 370px;
    }
    .work-time {
        padding-top: 130px;
        font-size: 23px;
        line-height: 30px;
    }
    .clock {
        width: 50px;
    }
    .second-slider {
        .header-title {
            line-height: 60px;
            font-size: 30px;
        }
        ymaps {
            max-width: 380px;
            max-height: 230px;
        }
    }
    .third-slider {
        .header-title {
            font-size: 35px;
        }
    }
    .third-slider, .second-slider {
        max-height: 360px;
    }
    .delivery {
        display: none;
    }
    .cards {
        max-width: 75%;
    }
    .card-container {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .card-container:last-child {
        margin-bottom: 80px;
    }
    .main {
        .car-main {
            right: 110px;
        }
    }
    .center-title {
        padding: 45px 25px 45px;
        border-radius: 40px;
    }
    .production-stages {
        img {
            width: 150px;
        }
    }
    .main-deal, .main-exchange {
        margin: 0;
        p {
            text-align: center;
        }
    }
    .exchange-title, .dignity-title, .deal-title {
        font-size: 14px;
        margin-bottom: 40px;
        svg {
            width: 100px;
            width: 40px;
        }
    }
    .exchange-title, .deal-title {
        padding: 6px 30px 6px ;
    }
    .dignity-title {
        padding: 6px 30px 6px ;
    }
    .dignity {
        .dignity-swiper {
            .button-next, .button-prev {
                display: none;
            }
        }
        span {
            font-size: 35px;
        }
    }
}
@media (max-width: 393px) {
    .first-slide {
        background-position: 40px 110px;
    }
    .main {
        .car-main {
            right: 95px;
        }
    }
    .exchange-title, .deal-title {
        padding: 6px 30px 6px ;
    }
}
@media (max-width: 375px) {
    .logo {
        max-width: 210px;
    }
    .second-slider {
        .header-title {
            line-height: 60px;
            font-size: 30px;
        }
        ymaps {
            max-width: 340px;
            max-height: 230px;
        }
    }
}
@media (max-width: 375px) {
    .exchange-title, .dignity-title, .deal-title {
        font-size: 11px;
    }
}


