body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header {
    background: #48BB6A;
}

.top-header {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 110px;
    align-items: center;
    color: #fff;


}
.sliders {
    background: linear-gradient(180deg, #A4DAA3 0%, rgba(161, 249, 243, 0.58) 100%);
}
.first-slide {
    display: flex;
    background-image: url(../img/greenhouses.png);
    background-position: 700px 113px;
    background-repeat: no-repeat;
    background-size: 700px;
}
.slide_left-part {
    margin-left: 200px;
}
.first-slide h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    line-height: 65px;
    font-style: normal;
    font-weight: normal;
}
.slider-dots {
    margin: 0;
    background-color: #fff;
    display: flex;
    list-style: none;
    justify-content: center;

    li {
        margin-right: 15px;

        button {
            width: 80px;
            height: 8px;
            border-radius: 7px;
            border: 1px solid #74f6f0;
            background-color: #fff;
            outline: none;
            cursor: pointer;
        }
    }

    .slick-active {
        button {
            background-color: #74f6f0;
        }
    }
}

.delivery {
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
    margin-left: 500px;
}
.delivery-car {
    margin-bottom: 50px;
}
.work-time {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 34px;
    line-height: 41px;
}
.clock {
    margin-left: 15px;
}
.delivery p {
    margin: 0;
    font-size: 30px;
    line-height: 35px;
}
.slide {
    display: none;
    height: 547px;
}
.active {
    display: flex;
}
.second-slider {
    background-image: url(../img/green.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.second-slider .header-title {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 85px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}
.header-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 750px;

    p {
        font-size: 20px;
        line-height: 23px;
        margin: 0;
        margin-bottom: 9px;
    }
    hr {
        transform: rotate(90deg);
        width: 80px;
        height: 2px;
        background: #fff;
    }
}
.phone {
    display: flex;
    align-items: center;
    margin-right: 56px;

    img {
        margin-right: 26px;
    }

    p {
        margin: 0;
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 19px;
    }
}
.phone a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

    &:hover {
        color: #6325ff;
    }
}


.time {
    display: flex;
    align-items: center;
    margin-right: 64px;

    p {
        margin-left: 26px;
        font-size: 20px;
        line-height: 23px;
    }
}
.logo {
    max-width: 350px;
    max-height: 75px;
}
.right-side {
    display: flex;
    justify-content: space-between;
}
.car {
    width: 42px;
    height: 42px;
    padding: 9px 24px;
    align-items: center;
    align-self: center;
    border: 1px solid transparent;
    background: #f000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        background: #F9E9B2;
    }
}
.main {
    max-width: 1520px;
    margin: auto;
}
.first-section {
    .title {
        font-size: 45px;
        line-height: 53px;
        color: #939393;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 50px;
    }
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-container {
    border: 1px solid #62A52E;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 80px;
}
.card {
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 49px;
    width: 320px;

    small {
        display: inline-block;
        font-size: 20px;
        line-height: 23px;
        color: #48BB6A;
        margin-bottom: 10px;
    }
}
.card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #575757;
}
.card-text {
    margin: auto;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #939393;
    max-width: 230px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.number-card {
    background: url(../img/picture.png) top center no-repeat;
    display: inline-block;
    width: 241px;
    height: 221px;
    position: relative;
}
.number-card input {
    width: 99px;
    height: 35px;
    background: #F6F4AD;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #000;
    position: absolute;
    top: 168px;
    left: 142px;

    p {
        margin: 8px;
    }
}
.calc {
    width: 100px;
    height: 35px;
    border: 0.6px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 10px;
}
.bottom-input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-input img {
    margin: 4px 2px;   
}
.bottom-input button {
    background: linear-gradient(180deg, #F5E9BF -24%, #E8CE78 151%);
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    outline: none;

    &:active {
        background: #e8c887;
    }
}
.main-button-car {
    background: linear-gradient(180deg, #C9FDD8 -40%, #48BB6A 163%);
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 75%;
    height: 50px;
    margin-top: 15px;
    outline: none;
    cursor: pointer;

    &:active {
        background: lighten($color: #48BB6A, $amount: 10%);
    }

}
.center-title {
    font-size: 55px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
}